Q1. Write a code to reverse a string.

In [ ]:
# Function to reverse a string
def reverse_string(s):
    return s[::-1]

# Example usage
input_string = "Disha, Halder!"
reversed_string = reverse_string(input_string)
print("Reversed String:", reversed_string)

Reversed String: !redlaH ,ahsiD

Q2.Write a code to count the number of vowels in a string.

In [ ]:
def count_vowels(string):
    # Define vowels
    vowels = "AEIOUaeiou"
    # Initialize count
    count = 0
    # Loop through each character in the string
    for char in string:
        if char in vowels:
            count += 1
    return count

# Example
input_string = "Hi, what is your name?"
vowel_count = count_vowels(input_string)
print(f"Number of vowels: {vowel_count}")

Number of vowels: 7

Q3. Write a code to check if a given string is a palindrome or not.

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

# Example usage
input_string = "nursesrun"
print(is_palindrome(input_string))  # Output: True

input_string = "hello"
print(is_palindrome(input_string))  # Output: False

True
False

Q4. Write a code to check if two given strings are anagrams of each other.

In [ ]:
 def are_anagrams(str1, str2):
    # Convert both strings to lowercase and sort the characters
    return sorted(str1.lower()) == sorted(str2.lower())

# Example usage:
string1 = "heart"
string2 = "earth"

if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

Q5. Write a code to find all occurrences of a given substring within another string.

In [ ]:
def find_occurrences(s, substring):
    start = 0
    occurrences = [4]

    while True:
        start = s.find(substring, start)
        if start == -1:
            break
        occurrences.append(start)
        start += 1  # Move to the next character after getting substring

    return occurrences

# Example usage
string = "This is a prime string. This prime is only a prime."
substring = "prime"
print(find_occurrences(string, substring))  # Output: [20, 31, 47]

[4, 10, 29, 45]

Q6. Write a code to perform basic string compression using the counts of repeated characters.[link text](https://)

In [ ]:
def compress_string(s):
    if not s:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(f"{s[i - 1]}{count}")
            count = 1

    compressed.append(f"{s[-1]}{count}")

    return ''.join(compressed) if len(compressed) < len(s) else s

# Example usage
input_string = "aabcccccaaa"
print(compress_string(input_string))  # Output: "a2b1c5a3"

a2b1c5a3

Q7. Write a code to determine if a string has all unique characters.

In [ ]:
def has_unique_characters(s):
    return len(s) == len(set(s))

# Example usage
input_string = "ghijkl"
print(has_unique_characters(input_string))  # Output: True

input_string = "beautiful"
print(has_unique_characters(input_string))  # Output: False

True
False

Q8. Write a code to convert a given string to uppercase or lowercase.

In [ ]:
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()

# Example usage
input_string = "Bright, Future!"
print(convert_case(input_string, to_upper=True))  # Output: "BRIGHT, FUTURE!"
print(convert_case(input_string, to_upper=False)) # Output: "bright, future!"

BRIGHT, FUTURE!
bright, future!

Q9. Write a code to count the number of words in a string.

In [ ]:
def count_words(s):
    return len(s.split())

# Example usage
input_string = "Hi, why are you going?"
print(count_words(input_string))  # Output: 5

5

Q10. Write a code to concatenate two strings without using the operator.

In [ ]:
def concatenate_strings(s1, s2):
    return ''.join([s1, s2])

# Example usage
string1 = "Time"
string2 = "Flies"
result = concatenate_strings(string1, string2)
print(result)  # Output: "TimeFlies"

TimeFlies

Q11. Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def remove_occurrences(lst, element):
    return [item for item in lst if item != element]

# Example usage
my_list = [3, 4, 5, 6, 4, 7]
element_to_remove = 4
result = remove_occurrences(my_list, element_to_remove)
print(result)  # Output: [1, 3, 4, 5]

[3, 5, 6, 7]

Q12. Implement a code to find the second largest number in a given list of integers.

In [ ]:
def second_largest(numbers):
    unique_numbers = list(set(numbers))  # Remove duplicates
    unique_numbers.sort()  # Sort the list
    return unique_numbers[-2] if len(unique_numbers) >= 2 else None

# Example usage
my_list = [6, 7, 9, 2, 5, 11, 10]
result = second_largest(my_list)
print(result)  # Output: 10

10

Q13. 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
def count_occurrences(lst):
    counts = {}
    for item in lst:
        counts[item] = counts.get(item, 0) + 1
    return counts

# Example usage
my_list = [2, 3, 3, 5, 1, 6, 6, 6]
result = count_occurrences(my_list)
print(result)  # Output: {2: 1, 3: 2, 5: 1, 1: 1, 6: 3}

{2: 1, 3: 2, 5: 1, 1: 1, 6: 3}

Q14. Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
def reverse_list(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]  # Swap elements
        left += 1
        right -= 1

# Example usage
my_list = [39, 40, 41, 42, 43]
reverse_list(my_list)
print(my_list)  # Output: [43, 42, 41, 40, 39]

[43, 42, 41, 40, 39]

Q15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates(lst):
    seen = set()
    result = []

    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)

    return result

# Example usage
my_list = [6, 8, 7, 9, 7, 6, 8, 9]
result = remove_duplicates(my_list)
print(result)  # Output: [6, 8, 7,9]

[6, 8, 7, 9]

Q16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
 def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

# For Example
lst = [9, 10, 11, 12]
print(is_sorted(lst))

lst = [12, 11, 10, 9]
print(is_sorted(lst))

lst = [9, 11, 10, 12]
print(is_sorted(lst))

True
True
False

Q17. Write a code to merge two sorted lists into a single sorted list.

In [ ]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0

    # Traverse both lists and merge
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Append remaining elements from list1 or list2
    merged_list.extend(list1[i:])
    merged_list.extend(list2[j:])

    return merged_list

# For Example
list1 = [4, 6, 8]
list2 = [5, 7,9]
result = merge_sorted_lists(list1, list2)
print(result)

[4, 5, 6, 7, 8, 9]

Q18.  Implement a code to find the intersection of two given lists.

In [ ]:
def intersection(list1, list2):
    return list(set(list1) & set(list2))

# Example usage
list1 = [21, 22, 23, 24, 25]
list2 = [24, 25, 21, 18, 19]
result = intersection(list1, list2)
print(result)  # Output: [24, 25,21]

[24, 25, 21]

Q19. Create a code to find the union of two lists without duplicates.

In [ ]:
def union_lists(list1, list2):
    return list(set(list1) | set(list2))

# Example usage:
list1 = [20, 21, 22, 23]
list2 = [22, 23, 24, 25]

result = union_lists(list1, list2)
print(result)

[20, 21, 22, 23, 24, 25]

Q20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
import random

def shuffle_list(lst):
    shuffled = lst[:]  # Create a copy of the list
    n = len(shuffled)

    for i in range(n):
        # Generate a random index
        rand_index = random.randint(0, n - 1)
        # Swap the current element with the randomly selected element
        shuffled[i], shuffled[rand_index] = shuffled[rand_index], shuffled[i]

    return shuffled

# Example usage
my_list = [7, 8, 9, 10, 11]
shuffled_list = shuffle_list(my_list)
print(shuffled_list)  # Output: Randomly shuffled list

[11, 7, 8, 9, 10]

Q21.  Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
def common_elements(tuple1, tuple2):
    # Convert tuples to sets to find common elements
    common_set = set(tuple1) & set(tuple2)
    # Return a new tuple with the common elements
    return tuple(common_set)

# Example usage:
tuple1 = (11, 12, 13, 14)
tuple2 = (13, 14, 15, 16)
result = common_elements(tuple1, tuple2)
print(result)  # Output: (13, 14)

(13, 14)

Q22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the Intersection of these two sets.

In [ ]:
# Prompt user for input
set1_input = input("Enter the first set of strings (separated by spaces): ")
set2_input = input("Enter the second set of strings (separated by spaces): ")

# Convert input strings to sets
set1 = set(set1_input.split())
set2 = set(set2_input.split())

# Calculate the symmetric difference of the two sets
symmetric_difference = set1.symmetric_difference(set2)  # Alternatively, you can use set1 ^ set2

# Print the result
print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings (separated by spaces): 1, 2. 3. 4
Enter the second set of strings (separated by spaces): 8, 3, 4, 10
Symmetric difference of the two sets: {'10', '4,', '4', '3.', '2.', '8,', '3,', '1,'}

Q23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples
    return tuple1 + tuple2

# Example usage
tuple_a = (10, 22, 23)
tuple_b = (44, 65, 60)
result = concatenate_tuples(tuple_a, tuple_b)

print("Tuple A:", tuple_a)           # Output: Tuple A: (10, 22, 23)
print("Tuple B:", tuple_b)           # Output: Tuple B: (44, 65, 60)
print("Concatenated Tuple:", result)  # Output: Concatenated Tuple: (10, 22, 23, 44, 65, 60)

Tuple A: (10, 22, 23)
Tuple B: (44, 65, 60)
Concatenated Tuple: (10, 22, 23, 44, 65, 60)

Q24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [ ]:
# Prompt user for input
set1_input = input("Enter the first set of strings (separated by spaces): ")
set2_input = input("Enter the second set of strings (separated by spaces): ")

# Convert input strings to sets
set1 = set(set1_input.split())
set2 = set(set2_input.split())

# Calculate elements present in the first set but not in the second set
difference_set = set1 - set2  # Alternatively, you can use set1.difference(set2)

# Print the result
print("Elements present in the first set but not in the second set:", difference_set)

Enter the first set of strings (separated by spaces): rose daliah sunflower
Enter the second set of strings (separated by spaces): sunflower hibiscus lavendar
Elements present in the first set but not in the second set: {'rose', 'daliah'}

Q25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:
def extract_range_from_tuple(tup, start, end):
    # Return a new tuple with elements from the specified range
    return tup[start:end]

# Example usage
input_tuple = (10, 20, 30, 40, 50, 60)
start_index = 1
end_index = 4
result = extract_range_from_tuple(input_tuple, start_index, end_index)

print("Original tuple:", input_tuple)            # Output: (10, 20, 30, 40, 50, 60)
print("Extracted range:", result)                 # Output: (20, 30, 40)

Original tuple: (10, 20, 30, 40, 50, 60)
Extracted range: (20, 30, 40)

Q26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
# Prompt user for input
set1_input = input("Enter the first set of characters (separated by spaces): ")
set2_input = input("Enter the second set of characters (separated by spaces): ")

# Convert input strings to sets
set1 = set(set1_input.split())
set2 = set(set2_input.split())

# Calculate the union of the two sets
union_set = set1.union(set2)  # Alternatively, you can use set1 | set2

# Print the result
print("Union of the two sets:", union_set)

Enter the first set of characters (separated by spaces): v n m
Enter the second set of characters (separated by spaces): m b g
Union of the two sets: {'g', 'm', 'b', 'v', 'n'}

Q27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [ ]:
def max_min_from_tuple(int_tuple):
    # Find maximum and minimum values
    max_value = max(int_tuple)
    min_value = min(int_tuple)

    # Return the results as a tuple
    return max_value, min_value

# Example usage
input_tuple = (27, 39, 91, 19, 94)
max_value, min_value = max_min_from_tuple(input_tuple)

print("Maximum value:", max_value)  # Output: Maximum value: 94
print("Minimum value:", min_value)   # Output: Minimum value: 19

Maximum value: 94
Minimum value: 19

Q28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [ ]:
# Define two sets of integers
set1 = {11, 12, 13, 14, 15}
set2 = {14, 15, 16, 17, 18}

# Calculate union, intersection, and difference
union_set = set1 | set2
intersection_set = set1 & set2
difference_set1 = set1 - set2
difference_set2 = set2 - set1

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of the two sets:", union_set)               # Output: {11, 12, 13, 14, 15, 16, 17, 18}
print("Intersection of the two sets:", intersection_set) # Output: {14, 15}
print("Difference (Set 1 - Set 2):", difference_set1)   # Output: {11, 12, 13}
print("Difference (Set 2 - Set 1):", difference_set2)   # Output: {18, 16, 17}

Set 1: {11, 12, 13, 14, 15}
Set 2: {16, 17, 18, 14, 15}
Union of the two sets: {11, 12, 13, 14, 15, 16, 17, 18}
Intersection of the two sets: {14, 15}
Difference (Set 1 - Set 2): {11, 12, 13}
Difference (Set 2 - Set 1): {16, 17, 18}

Q29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [ ]:
def count_occurrences(tup, element):
    return tup.count(element)

# Example usage
input_tuple = (21, 22, 23, 22, 24, 22, 25)
element_to_count = 22
count = count_occurrences(input_tuple, element_to_count)

print(f"The element {element_to_count} occurs {count} time(s) in the tuple.")  # Output: 3

The element 22 occurs 3 time(s) in the tuple.

Q30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [ ]:
# Prompt user for input
set1_input = input("Enter the first set of strings (separated by spaces): ")
set2_input = input("Enter the second set of strings (separated by spaces): ")

# Convert input strings to sets
set1 = set(set1_input.split())
set2 = set(set2_input.split())

# Calculate the symmetric difference of the two sets
symmetric_difference = set1.symmetric_difference(set2)  # Alternatively, you can use set1 ^ set2

# Print the result
print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings (separated by spaces): rice vegies dal
Enter the second set of strings (separated by spaces): dal chicken water
Symmetric difference of the two sets: {'water', 'chicken', 'vegies', 'rice'}

Q31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [ ]:
def word_frequencies(words):
    frequency_dict = {}
    for word in words:
        # Increment the count for each word
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1
    return frequency_dict

# Example usage
input_list = input("Enter a list of words (separated by spaces): ").split()
result = word_frequencies(input_list)

print("Word Frequencies:", result)

Enter a list of words (separated by spaces): flower fruit food
Word Frequencies: {'flower': 1, 'fruit': 1, 'food': 1}

  Q32. Write a code that takes two dictionaries as input and merges them into a single dictionary. if there are common keys, the values should be added together.

In [ ]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Create a copy of the first dictionary

    for key, value in dict2.items():
        if key in merged_dict:
            # Add values if the key is common
            merged_dict[key] += value
        else:
            # Add the new key-value pair
            merged_dict[key] = value

    return merged_dict

# Example usage
dict1_input = input("Enter the first dictionary (e.g., a=1 b=2): ")
dict2_input = input("Enter the second dictionary (e.g., a=3 b=4): ")

# Convert input strings to dictionaries
dict1 = dict(item.split('=') for item in dict1_input.split())
dict2 = dict(item.split('=') for item in dict2_input.split())

# Convert string values to integers
dict1 = {k: int(v) for k, v in dict1.items()}
dict2 = {k: int(v) for k, v in dict2.items()}

# Merge the dictionaries
result = merge_dictionaries(dict1, dict2)

print("Merged Dictionary:", result)

Enter the first dictionary (e.g., a=1 b=2): a=1 b=2
Enter the second dictionary (e.g., a=3 b=4): a=3 b=4
Merged Dictionary: {'a': 4, 'b': 6}

Q33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [ ]:
def access_nested_value(nested_dict, keys):
    current_value = nested_dict
    for key in keys:
        # Check if the key exists in the current dictionary
        if isinstance(current_value, dict) and key in current_value:
            current_value = current_value[key]  # Move to the next level
        else:
            return None  # Return None if the key doesn't exist
    return current_value  # Return the found value

# Example usage
nested_dict = {
    'a': {
        'b': {
            'c': 24
        }
    },
    'x': {
        'y': 100
    }
}

# Input keys to access
keys_input = input("Enter a list of keys (separated by spaces): ").split()

# Access the value in the nested dictionary
result = access_nested_value(nested_dict, keys_input)

if result is not None:
    print("Value found:", result)
else:
    print("None of the keys exist in the dictionary.")

Enter a list of keys (separated by spaces): a y
None of the keys exist in the dictionary.

Q34.  Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [ ]:
def sort_dict_by_value(input_dict, ascending=True):
    # Sort the dictionary by its values
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict

# Example usage
dict_input = input("Enter a dictionary (e.g., p=1 q=3 r=2): ")

# Convert input string to dictionary
input_dict = dict(item.split('=') for item in dict_input.split())
# Convert string values to integers
input_dict = {k: int(v) for k, v in input_dict.items()}

# Choose sorting order
order_input = input("Sort in ascending order? (yes/no): ").strip().lower()
ascending = order_input == 'yes'

# Get sorted dictionary
result = sort_dict_by_value(input_dict, ascending)

print("Sorted Dictionary:", result)

Enter a dictionary (e.g., p=1 q=3 r=2): p=1 q=3 r=2
Sort in ascending order? (yes/no): yes
Sorted Dictionary: {'p': 1, 'r': 2, 'q': 3}

Q35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [ ]:
def invert_dictionary(input_dict):
    inverted_dict = {}

    for key, value in input_dict.items():
        if value in inverted_dict:
            # If the value already exists, append the key to the list
            inverted_dict[value].append(key)
        else:
            # Create a new entry with the value as the key and the key as a list
            inverted_dict[value] = [key]

    return inverted_dict

# Example usage
dict_input = input("Enter a dictionary (e.g., i=8 j=6 k=4): ")

# Convert input string to dictionary
input_dict = dict(item.split('=') for item in dict_input.split())
# Convert string values to integers
input_dict = {k: int(v) for k, v in input_dict.items()}

# Invert the dictionary
result = invert_dictionary(input_dict)

print("Inverted Dictionary:", result)

Enter a dictionary (e.g., i=8 j=6 k=4): i=8 j=6 k=4
Inverted Dictionary: {8: ['i'], 6: ['j'], 4: ['k']}